header{
   background-color: rgb(135, 30, 30); 
}
h2{
    background-color: blueviolet;
}
h3{
    background-color: blue;
}

.info{
    text-align: center;
    border: 10px solid rgb(11, 11, 11);
    display: block; 
    margin-left: auto; 
    margin-right: auto;  
    width: 50%;
}




